<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>«Несвижская сортоиспытательная станция»</title>
</head>

<body>


<div class="container"><!--container-->


    <header><!--header-->
        <div class="green_plate"></div>
        <div class="logo"></div>
        <div class="header_text">
            <div class="gos">
                Государственное сельскохозяйственное учреждение
            </div>
            <div class="organization">
                «Несвижская сортоиспытательная станция»
            </div>
            <div class="email">
                hlebkovichh@mail.ru
            </div>
            <div class="address">
                Минская область, Несвижский район, <br/>поселок Госсортучасток, улица Кутузова, дом 47
            </div>
            <div class="phone_number">
                8 (01770) <span>2-58-03</span>
            </div>
            <div class="work_time">
                Работаем: с Пн. по Пт
                с 8.00 до 17.00
            </div>
        </div><!--header_text-->
        <div class="menu"><!--menu-->
            <ul type="none">
                <li><a href="/about">О компании</a></li>
                <li class="work"><i class="fas fa-bars"></i><a href="#">Деятельность организации</a></li>
                <li><i class="fas fa-bars"></i><a href="/catalog">Каталог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><i class="far fa-envelope"></i><a href="/elec">Электронные обращения</a></li>
            </ul>
        </div><!--menu-->
        <!--<div class="main_pic"></div>-->

        <!--place for hover menus organization work-->


        <div class="org_work">
            <div class="left_text">
                <div class="left_first_text">
                    <a href="#">Отдел технических и <br>
                        плодово-ягодных культур</a>

                </div>
                <div class="left_second_text">
                    <a href="#">Отдел сельскохозяйственных культур <br>
                        на хозяйственную полезность</a>
                </div>
                <div class="left_thirt_text">
                    <a href="#">Участок патентной экспертизы</a>
                </div>
            </div><!--end of left text hover menu-->
            <!--right text hover menu-->
            <div class="right_text">
                <div class="right_first_text">
                    <a href="#">Отдел технических и <br>
                        плодово-ягодных культур</a>
                </div>
                <div class="right_second_text">
                    <a href="#">Участок патентной экспертизы</a>
                </div>
            </div><!--end of right text hover menu-->
        </div>


        <!--place for hover menus organization work-->

        <!--place for hover menu -->

        {{{body}}}
        <!--<div class="org_work">-->

        <!--</div>-->
    </header><!--header-->



</div><!--container-->




<!-- Optional JavaScript -->
<!-- jQuery  -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="main.js" ></script>

</body>

</html>
















