<div class="about_page_background">

</div>
<div class="about_page_white">
    <div class="about_page_bread_crumbs">
        <a href="/">Главная</a>
        <i class="fas fa-angle-right"></i>
    </div>

    <div class="about_header">
        О компании
    </div>
    <div class="about_page_text">
        Государственное сельскохозяйственное учреждение «Несвижская сортоиспытательная станция» является правопреемником «Несвижской зональной государственной сортоиспытательной станции», которая в свою очередь является правопреемником
        <br> Несвижского сортоиспытательного участка. <br>
        <br>
        Несвижский сортоиспытательный участок создан в октябре 1944 года и входил в систему Государственной комиссии по
        <br> сортоиспытанию зерновых культур при Народном Комиссариате Земледелия СССР по Белорусской ССР. <br>
        <br>
        <!--<br>-->

        С 1991 года Несвижская зональная государственная сортоиспытательная станция подчинена Госкомиссии по сортоиспытанию сельскохозяйственных культур Министерства сельского хозяйства Республики Беларусь, а с августа 1997 года на основании постановления Совета Министров Республики Беларусь от 11 августа 1997г. №1047 подчинена Комитету по государственному испытанию и охране сортов растений при Министерстве сельского хозяйства и продовольствия Республики Беларусь.
        <br>
        <br>
        <!--<br>-->
        В соответствии со статьями 48 и 50 Гражданского кодекса Республики Беларусь станция переименована в Государственное сельскохозяйственное учреждение «Несвижская сортоиспытательная станция».
        <br>
        <br>
        <!--<br>-->
        Учреждение является юридическим лицом, имеет обособленное имущество, самостоятельный баланс, счета в банках, печать с изображением Государственного герба Республики Беларусь и со своим наименованием, угловой и иные штампы.
    </div>
    <div class="about_page_photo"></div>
</div><!--about white page-->