<div class="contacts_page_background"></div>
<div class="contacts_page_white">
    <div class="contacts_page_bread_crumbs">
        <a href="/">Главная</a>
        <i class="fas fa-angle-right"></i>
    </div>
    <div class="contacts_page_header_text">
        Контакты
    </div>
    <div class="contacts_page_gos_name">
        Государственное сельскохозяйственное учреждение <br>
            «Несвижская сортоиспытательная станция»
    </div>
    <div class="contacts_page_address">
        Адрес
    </div>
    <div class="contacts_page_address_street">
        222603, Минская область, Несвижский район, <br>
        пос. Госсортучасток, ул. Кутузова, 47
    </div>
    <div class="contacts_page_bank">
        Банковские реквизиты
    </div>
    <div class="contacts_page_bank_numbers">
        УНН: 600031133 <br>
        Р/С: BY45BAPB30152930600100000000 <br>
        АДРЕС БАНКА: РКЦ №26 в г. Несвиже ф-ла ОАО «Белагропромбанк» <br>
        (Минское областное управление в г. Минск, пр-т Жукова, 3) <br>
        код: BAPBBY2X
    </div>
    <div class="contacts_page_phone">
        Телефоны
    </div>
    <div class="contacts_page_phone_numbers">
        приемная: 8 (01770) 2-58-03 (факс)
        бухгалтерия: 8 (01770) 2-37-65
        юрисконсульт: 8 (01770) 2-21-57
        агрономы: 8 (01770) 2-07-55
    </div>

</div><!--contacts page white-->