<div class="elec_page_background"></div>
<div class="elec_page_white"><!--elec white page-->
    <div class="elec_page_bread_crumbs">
        <a href="/">Главная</a>
        <i class="fas fa-angle-right"></i>
    </div>
    <div class="elec_page_header_text">
        Обращение граждан и юридических лиц
    </div>
    <div class="elec_page_form">
        <form action="" method="post">
            <label for="surname" id="surname_style">Фамилия *</label>
            <input type="text" id="surname" name="surname">
            <label for="email" id="email_style">E-mail *</label>
            <input type="email" id="email" name="email">
            <label for="name" id="name_style">Имя *</label>
            <input type="text" id="name" name="name">
            <label for="address" id="address_style">Домашний адрес</label>
            <input type="text" id="address" name="address">
            <label for="patronymic" id="patronymic_style">Отчество</label>
            <input type="text" id="patronymic" name="patronymic">
            <label for="phone" id="phone_style">Телефон *</label>
            <input type="text" id="phone" name="phone">
            <label for="massages" id="messages_style">Сообщение</label>
            <textarea name="messages" id="messages" cols="30" rows="10"></textarea>
            <input type="submit" value="ОТПРАВИТЬ">
        </form>
    </div>
</div><!--elec white page-->