<div class="main_pic"></div>
<div class="icon_section_white">
    <div class="icon_place"><!--icon_place-->

        <div class="we_are_manufactures"><!--manufactures-->
            <span class="head_manufactures">МЫ ПРОИЗВОДИТЕЛИ</span><br/>
            <div class="text_manufactures"> Все наши растения посажены <br>
                нашими силами и продаются<br/>
                по первой розничной цене</div>
        </div><!--manufactures-->

        <div class="ecology"><!--ecology-->
            <span class="head_ecology">ЭКОЛОГИЧНОСТЬ</span>
            <div class="text_ecology">
                Наши растения получают только <br>
                экологически чистые удобрения <br>
                и растут за счет правильного ухода
            </div>
        </div><!--ecology-->
        <div class="research"><!--research-->
            <span class="head_research">ИССЛЕДОВАНИЕ</span>
            <div class="text_research">
                Все селекционные технологии <br>
                имеют документальное подтверждение <br>
                и тчательное научное обоснование
            </div>
        </div><!--research-->
    </div><!--icon_place-->
</div>